/* Loader Wrapper */
.wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 3s, visibility 3s ease-out;
}

/* Fade Out Effect */
.fade {
  opacity: 0;
  visibility: hidden;
}

/* Loader Animation */
.loader {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin-bottom: 15px;
}

.loading-text {
  font-family: 'Times New Roman', Times, serif;
  color: #3498db;
  font-size: 16px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0; /* Remove default margin */
  height: 100vh; /* Full viewport height */
  background: url("http://localhost:8081/GIS/Images/landslide_wallpaper.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center; /* Center the header horizontally */
  align-items: center; /* Center the header vertically */
  flex-direction: column;
}

/* Full header with 30vh height */
.header-full-bg {
  height: 30vh; /* Set to 30% of viewport height */
  width: 100%; /* Ensure it takes full width */
  color: black;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  text-align: center;
  position: relative; /* Fix for positioning issues */
  flex-direction: column;
}

/* Semi-transparent overlay */
.header-full-bg .overlay {
  background: rgba(128, 128, 128, 0.5); /* Semi-transparent overlay */
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Heading and paragraph styles */
.header-full-bg h1 {
  font-size: 2.5rem;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.header-full-bg p {
  font-size: 1.3rem;
  margin: 10px 0 20px; /* Adjusted margins for proper spacing */
  font-family: 'Times New Roman', Times, serif;
}

/* Styling the button container */
.cta-container {
  margin-top: 10px; /* Adjusted margin for small gap between button and header */
  display: flex;
  justify-content: center;
  position: relative;
}

.cta-button {
  padding: 10px 20px;
  border: 1.5px solid grey;
  color: rgb(24, 5, 5);
  background-color: #a9a9aa6b;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.cta-button:hover {
  background-color: rgba(128, 128, 128, 0.589);
  color: #0d0d0e;
  transform: scale(1.05);
}